.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color:  #f2f2f2;
}

.header__title {
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  color: #000000;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #000000;
}

.header__main-illustration {
  width: 768px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  height: 35px;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  padding-top: 100px;
  box-sizing: border-box;
}

.two-columns {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  padding: 100px 0;
  box-sizing: border-box;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  color: #000000;
}

.section-title_theme_dark {
  margin: 0 auto 20px auto;
  color: #fff;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: #000000;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  color: #000000;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #000000;
}

.table__text_theme_dark {
  color: #fff;
}

.feynman {
  height: 100vh;
  min-height: 600px;
  max-height: 790px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  padding: 100px 0 70px 0;
  margin: auto;
  z-index: 2;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 115px;
  color: #000000;
}

.feynman__subtitle {
  width: 364px;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  position: relative;
  padding: 90px 0;
  z-index: 1;
  box-sizing: border-box;
  background-color:  #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  z-index: -1;
  position: absolute;
  top: -5px;
  right: -210px;
}

.footer {
  min-height: 350px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  background-color:  #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #fff;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
}

.footer__column-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
}

.footer__column-links {
  margin: 20px 0 16px 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
